        50      999.         0
 1 1 1
 0 0 0
 1 1 1
 0 0 0
 0 0 0
constant      1000.0
constant       200.0
constant       0.00002
constant        0.2
constant      1000.0
constant       200.0
constant       0.00002
constant        0.2
constant      1000.0
constant       200.0
constant       0.00002
constant        0.2
1
